:root {
  font-family: "Kalam", sans-serif;
  color: #032d54;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 50rem;
  min-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  background-color: #004e98;
  justify-content: space-around;
}

h1 {
  color: #ff6700;
  font-size: 3rem;
  font-family: "Bungee Shade", cursive;
  margin-bottom: 0;
}

h2 {
  font-family: "Bungee Shade", cursive;
  font-size: 3rem;
  color: #003266;
  margin-bottom: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #c0c0c0;
  width: 20rem;
  text-decoration: none;
  font-family: sans-serif;
  color: #3a6ea5;
  border: none;
  padding: 1rem 4rem;
  margin-bottom: 1.3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-family: "Kalam", sans-serif;
  font-weight: 600;
}

input {
  width: 20rem;
  border: none;
  border-bottom: 2px solid black;
  background-color: #ebebeb;
  font-family: "Kalam", sans-serif;
  height: 2.5rem;
}

.banner {
  background-color: #3a6ea5;
}

.flex-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border: black 2px solid;
  padding: 1rem;
}

.login-container {
  background-color: #a4bcd2;
  border-radius: 14.5%;
}

.post-container {
  margin-top: 1rem;
  font-size: 1.3rem;
  background-color: #869eb4;
}

form {
  display: flex;
  justify-content: center;
  align-items: centet;
  align-items: center;
  flex-flow: column;
  gap: 1rem;
  font-size: 1.5rem;
}

hr {
  width: 50%;
  height: 1px;
  color: #ff6700;
}

.add-post-link {
  display: block;
  cursor: pointer;
  padding: 15px;
  height: 60px;
  background-color: #ff6700;
  color: #004e98;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  border: #869eb4 2px solid;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 20px;
}

.log-out {
  display: block;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  height: 60px;
  background-color: #869eb4;
  color: #004e98;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: "Kalam", sans-serif;
  border: #ff6700 2px solid;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-left: auto;
  border-radius: 20px;
}

.post-container {
  border-radius: 20px;
  border: #ff6700 3px solid;
  padding: 5%;
}
